* {
  font-family: Courier New;
}


body {
    background-color: #D4FFDF;
    margin: 20px 20px 20px 20px;
}

input[type='text'], input[type='password'] {
    text-align: center;
}

input#enter_url {
    width: 600px;
    margin: auto;
    margin-top: 40%;
    font-size: 48px;
}

.delete {
    cursor: pointer;
}

.arrow_box {
    text-align: center;
    position: relative;
    background: #88b7d5;
    border: 3px solid #c2e1f5;
    margin-top: 31px;
    min-width: 600px;
    width: 45%;
    display: none;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #88b7d5;
    border-width: 30px;
    margin-left: -30px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #c2e1f5;
    border-width: 33px;
    margin-left: -33px;
}

h1 {
    font-size: 54px;
    line-height: 54px;
    font-weight: bold;
    text-transform: lowercase;
    text-shadow: 2px 2px #F5D76E;
}

.center {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.header {
    float: right;
    z-index: 10;
}

#inline_captcha {
    position: relative;
}

#captcha {
    height: 23px;
    position: absolute;
    width: 60px;
}

#logged_in_options {
    display: none;
}

td.url {
    font-weight: bolder;
}

#passwd_reset {
    text-align: center;
    margin-bottom: 2px;
    margin-top: 2px;
}
