div#login, div#signup {
    background-color: #88b7d5;
    display: none;
    margin-top: 20px;
    display: table-cell;
    border: 1px solid black;
    margin-bottom: 30px;
    float: right;
    clear: both;
}

div#reset_passwd {
    display: none;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    background-color: rgb(215, 231, 231);
    margin-bottom: 30px;
}

div#login > form, div#signup > form {
    padding: 10px 10px 10px 10px;
    margin: 30px 10px 10px 10px
}

div#reset_passwd > form {
    z-index: 1;
    margin: 50px 10px 20px 10px;
}

#login > .exit, #signup > .exit {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

#login_btn, #signup_btn, #reset_btn {
    cursor: pointer;
    display: block;
    margin: auto;
    width: 80px;
}

#signup_btn {
    margin-top: 10px;
}

#login_failed, #signup_failed {
    color: red;
    margin-bottom: 10px;
    text-align: center;
    display: block;
    font-size: 12px;
}

#signup_failed {
    margin-top: 5px;
}

.btn {
  background: #88B6FF;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 5px #666666;
  font-family: Courier New;
  color: #ffffff;
  font-size: 17px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-align: center;
}

table {
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 5px;
    min-width: 830px;
}

#logo {
    z-index: 1;
    position: absolute;
    text-align: center;

    position: absolute;
    margin-top: 100px;
    left: 50%;
    width: 650px;
    padding: .8em 1.2em;
    color: white;
    background-color: darkcyan;

    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


#dim-screen
{
    display: none;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 1)
}
