<html>
    <head>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="/static/js/index.js"></script>
        <script src="/static/js/sweetalert.min.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-64551216-1', 'auto');
	  ga('send', 'pageview');

	</script>
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
        <link rel="stylesheet" type="text/css" href="/static/css/sweetalert.css">
        <script type="text/javascript">
            {% if logged_in %}
                var user_logged_in = "{{ logged_in }}"
            {% else %}
                var user_logged_in = false
            {% endif %}
        </script>

        </head>
<body>
    <div class="header" id="logged_out_options">
        <a href="#" id="signup_link">Sign up</a> | <a href="#" id="login_link">Login</a>
    </div>
    <div class="header" id="logged_in_options">
        <a href="#" id="logout_link">Logout</a>
    </div>
    <div id="login" class="under_header">
        <span class="exit">&#x2715;</span>
        <form id="login_form">
            <input id="login_email" name="email" type="text" placeholder="Username"></input>
            <br></br>
            <input name="password" type="password" placeholder="Password"></input>
            <p id="passwd_reset">password reset?</p>
            <span id="login_failed">wrong login details</span>
            <span class="btn" id="login_btn">Login</span>
        </form>
    </div>
    <div id="signup" class="under_header">
        <span class="exit">&#x2715;</span>
        <form id="signup_form">
            <input id="signup_email" name="email" type="text" placeholder="email"></input>
            <br></br>
            <input name="password" type="password" placeholder="password"></input>
            <br></br>
            <input name="password" type="password" placeholder="again"></input>
            <br></br>
            <span id="inline_captcha">
                <img src="/captcha"></img><input id="captcha" name="captcha" type="text" placeholder="captcha" maxlength="4"></input>
            </span>
            <span id="signup_failed">test</span>
            <span class="btn" id="signup_btn">Sign up</span>
        </form>
    </div>

    <div id="container">
        <div id="logo">
            <h1>Simple, short, urls.</h1>
        </div>
    </div>

    <div id="reset_passwd">
        <form>
            <input type="password" name="password1" placeholder="Password"></input>
            <br></br>
            <input type="password" name="password2" placeholder="Password again"></input>
            <br></br>
            <a class="btn" id="reset_btn" href="" onClick="return false;" >Reset</a>
        </form>
    </div>

    <div id="enter_url" class="center">
        <input id="enter_url" type="text" placeholder="Enter URL"></input>
        <div class="arrow_box">
            <h1 id="url"></h1>
        </div>
    </div>

    <table id="user_table" class="center">
    <thead align="left">
        <tr>
            <th></th>
            <th>Created</th>
            <th>URL</th>
            <th>Short URL</th>
            <th>Accessed</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="delete"></td>
            <td class="date"></td>
            <td class="url"><a href=""></a></td>
            <td class="original_url"><a href=""></a></td>
            <td class="accessed"></td>
        </tr>
    </tbody>
    </table>

    <div id="dim-screen">
    </div>

</body>
</html>
