<html>
    <head>
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="/static/js/index.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/login.css">
        <link rel="stylesheet" type="text/css" href="/static/css/index.css">
        <script type="text/javascript">
            {% if logged_in %}
                var user_logged_in = "{{ logged_in }}"
            {% else %}
                var user_logged_in = false
            {% endif %}
        </script>

        </head>
<body>
    <div class="header" id="logged_out_options">
        <a href="#" id="signup_link">Sign up</a> | <a href="#" id="login_link">Login</a>
    </div>
    <div class="header" id="logged_in_options">
        <a href="#" id="logout_link">Logout</a>
    </div>
    <div id="login" class="under_header">
        <span class="exit">&#x2715;</span>
        <form id="login_form">
            <input id="login_email" name="email" type="text" placeholder="Username"></input>
            <br></br>
            <input name="password" type="password" placeholder="Password"></input>
            <br></br>
            <span id="login_failed">wrong login details</span>
            <span class="btn" id="login_btn">Login</span>
        </form>
    </div>
    <div id="signup" class="under_header">
        <span class="exit">&#x2715;</span>
        <form id="signup_form">
            <input id="signup_email" name="email" type="text" placeholder="username"></input>
            <br></br>
            <input name="password" type="password" placeholder="password"></input>
            <br></br>
            <input name="password" type="password" placeholder="again"></input>
            <br></br>
            <span id="inline_captcha">
                <img src="/captcha"></img><input id="captcha" name="captcha" type="text" placeholder="captcha" maxlength="4"></input>
            </span>
            <span id="signup_failed">test</span>
            <span class="btn" id="signup_btn">Sign up</span>
        </form>
    </div>

    <div id="container">
        <div id="logo">
            <h1>Simple, short, urls.</h1>
        </div>
    </div>

    <div id="enter_url" class="center">
        <input id="enter_url" type="text" placeholder="Enter URL"></input>
        <div class="arrow_box">
            <h1 id="url"></h1>
        </div>
    </div>

    <table id="user_table" class="center">
    <thead align="left">
        <tr>
            <th>Created</th>
            <th>URL</th>
            <th>Short URL</th>
            <th>Accessed</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="date"></td>
            <td class="url"></td>
            <td class="original_url"></td>
            <td class="accessed"></td>
        </tr>
    </tbody>
    </table>

</body>
</html>
